/*Sub navigation*/




.sub-navigation .cssmenu ul li{ display:inline-block; text-transform: uppercase; border-bottom: 0px;}

.sub-navigation .cssmenu > ul > li:after{border-bottom: 0px;}

.sub-navigation .cssmenu > ul > li > a{
	padding:18px 35px 21px 35px;
	}
	
.sub-navigation .cssmenu > ul > li:hover > a,
.sub-navigation .cssmenu > ul > li > a:hover{
	color: #ffffff;
  background: #32a9c3;
  background: rgba(0, 0, 0, 0.1);
  padding:18px 35px 21px 35px;
    	
	
}


.sub-navigation .cssmenu > ul > li.active > a{


  font-family: Arial, Helvetica, sans-serif;
	}


/*Sub navigation*/







.cssmenu,
.cssmenu ul,
.cssmenu ul li,
.cssmenu ul li a{
  margin: 0;
  padding: 0;
  
  list-style: none;
  line-height: 1;
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cssmenu:after,
.cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.cssmenu .menu-button {
  display: none;
}
.cssmenu {
  width: auto;
  float:right;
  padding-top: 15px;
  
}
.cssmenu > ul {
  
 
}
.cssmenu.align-right > ul > li {
  float: right;
}
/*.cssmenu > ul > li {
  float: left;
  display: inline-block;
}*/
.cssmenu.align-center > ul {
  float: none;
  text-align: center;
}
.cssmenu.align-center > ul > li {
  float: none;
}
.cssmenu.align-center ul ul {
  text-align: left;
}
.cssmenu > ul > li > a {
  
  text-decoration: none;
  color: #fff; 
}

.cssmenu > ul > li{padding:0px 20px;}




.cssmenu > ul > li.has-sub > a {
  padding-right: 45px;
}
.cssmenu > ul > li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #d3eced;
  right: 17px;
  top: 22px;
}
.cssmenu > ul > li.has-sub.active > a::after,
.cssmenu > ul > li.has-sub:hover > a {
  border-top-color: #ffffff;
}
.cssmenu ul ul {
  position: absolute;
  left: -9999px;
  top: 60px;
  padding-top: 6px;
  font-size: 13px;
  opacity: 0;
  -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
  -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
  -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
  -o-transition: top 0.2s ease, opacity 0.2s ease-in;
  transition: top 0.2s ease, opacity 0.2s ease-in;
}
.cssmenu.align-right ul ul {
  text-align: right;
}
.cssmenu > ul > li > ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #ffffff;
  top: -4px;
  left: 20px;
}
.cssmenu.align-right > ul > li > ul::after {
  left: auto;
  right: 20px;
}
.cssmenu ul ul ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: #ffffff;
  top: 11px;
  left: -4px;
}
.cssmenu.align-right ul ul ul::after {
  border-right-color: transparent;
  border-left-color: #ffffff;
  left: auto;
  right: -4px;
}
.cssmenu > ul > li > ul {
  top: 120px;
}
.cssmenu > ul > li:hover > ul {
  top: 52px;
  left: 0;
  opacity: 1;
}
.cssmenu.align-right > ul > li:hover > ul {
  left: auto;
  right: 0;
}
.cssmenu ul ul ul {
  padding-top: 0;
  padding-left: 6px;
}
.cssmenu.align-right ul ul ul {
  padding-right: 6px;
}
.cssmenu ul ul > li:hover > ul {
  left: 180px;
  top: 0;
  opacity: 1;
}
.cssmenu.align-right ul ul > li:hover > ul {
  left: auto;
  right: 100%;
  opacity: 1;
}
.cssmenu ul ul li a {
  text-decoration: none;
  font-weight: 400;
  padding: 11px 25px;
  width: 180px;
  color: #777777;
  background: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
}
.cssmenu ul ul li:hover > a,
.cssmenu ul ul li.active > a {
  color: #333333;
}
.cssmenu ul ul li:first-child > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.cssmenu ul ul li:last-child > a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.cssmenu > ul > li > ul::after {
  position: absolute;
  display: block;
}
.cssmenu ul ul li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: #777777;
  right: 17px;
  top: 14px;
}
.cssmenu.align-right ul ul li.has-sub > a::after {
  border-left-color: transparent;
  border-right-color: #777777;
  right: auto;
  left: 17px;
}
.cssmenu ul ul li.has-sub.active > a::after,
.cssmenu ul ul li.has-sub:hover > a::after {
  border-left-color: #333333;
}
.cssmenu.align-right ul ul li.has-sub.active > a::after,
.cssmenu.align-right ul ul li.has-sub:hover > a::after {
  border-right-color: #333333;
  border-left-color: transparent;
}


 .cssmenu > ul > li{
	  
	 
	  position:relative;
	  text-transform:lowercase;
	  
	  
	  
	  }
	  
.cssmenu > ul > li:after{
	
	
	content:'';
	
		position:absolute;
		width:100%;
		left:0px;
		bottom:0px;
	
	}
	

@media screen and (max-width: 767px) {	
.cssmenu,
.cssmenu ul,
.cssmenu ul li,
.cssmenu ul li a{
  margin: 0;
  padding: 0;
  
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}

.cssmenu > ul > li{
	
	  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
	  
	}
	
.cssmenu > ul > li a{
	
	padding: 10px 20px !important;
	
	}
	
.cssmenu > ul > li a:hover{
	
	  background: #82acdd;
	}
	
.cssmenu {

  float:none;
  background-color: #000;
    position: absolute;
  width: 100%;
  left: 0px;
  z-index:999;
  
}

.menu-button{
	  position: absolute;
  right: 0px;
  top: -55px;

	
	}
	


}
	
	/*
@media all and (max-width: 767px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  .cssmenu {
   
  }
  .cssmenu > ul {
    display: none;
  }
  .cssmenu > ul.open {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
 
  
  
 
  
  .cssmenu .menu-button {
    display: block;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    padding: 18px;
    text-transform: uppercase;
   
    
    cursor: pointer;
	
	margin-top:0px;
  }
  .cssmenu ul ul,
  .cssmenu ul li:hover > ul,
  .cssmenu > ul > li > ul,
  .cssmenu ul ul ul,
  .cssmenu ul ul li:hover > ul,
  .cssmenu.align-right ul ul,
  .cssmenu.align-right ul li:hover > ul,
  .cssmenu.align-right > ul > li > ul,
  .cssmenu.align-right ul ul ul,
  .cssmenu.align-right ul ul li:hover > ul {
    left: 0;
    right: auto;
    top: auto;
    opacity: 1;
    width: 100%;
    padding: 0;
    position: relative;
    text-align: left;
  }
  .cssmenu ul ul li {
    width: 100%;
  }
  .cssmenu ul ul li a {
    width: 100%;
    box-shadow: none;
    padding-left: 35px;
  }
  .cssmenu ul ul ul li a {
    padding-left: 45px;
  }
  
  
  
  
  
  
  .cssmenu ul ul li:first-child > a,
  .cssmenu ul ul li:last-child > a {
    border-radius: 0;
  }
  
  
  
  
  
  .cssmenu .menu-button::after {
    display: block;
    content: '';
    position: absolute;
    height: 10px;
    width: 30px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    right: 18px;
    top: 14px;
  }
  .cssmenu .menu-button::before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    border-top: 3px solid #fff;
    right: 18px;
    top: 28px;
  }
  .cssmenu > ul > li.has-sub > a::after,
  .cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
}*/

@media (min-width:768px) and (max-width:991px){
	
	.sub-navigation .cssmenu > ul > li > a{
	padding:18px 25px 21px 25px;
	}
	
	.sub-navigation .cssmenu > ul > li:hover > a,
.sub-navigation .cssmenu > ul > li > a:hover{
	padding:18px 25px 21px 25px;
	
	}
	
	}


@media screen and (max-width: 767px){
	.sub-navigation .cssmenu ul li{ display:block; text-transform: uppercase; border-bottom:solid 1px rgba(255, 255, 255, 0.3);}

.sub-navigation .cssmenu > ul > li:after{border-bottom:solid 0px rgba(0, 0, 0, 0.1);
	content:'';
	
		position:absolute;
		width:100%;
		left:0px;
		bottom:0px;
		
		}

.sub-navigation .cssmenu > ul > li > a{
	padding:10px 20px 13px 20px;
	}
	
.sub-navigation .cssmenu > ul > li:hover > a,
.sub-navigation .cssmenu > ul > li > a:hover{
	color: #ffffff;
  background: #32a9c3;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px 13px 20px;
    	
	
}

.sub-navigation .menu-button{
	
	background:none;
	margin:0px;
	
	
	}
	
.sub-navigation .cssmenu .menu-button::before{
	display: block;
  content: "\f107";
  position: absolute;
  height: 3px;
  width: 30px;
  
  right: 0px;
  top: 6px;
  font-size:35px;
    font-family: 'FontAwesome';
	color:#fff;
	border:none;

	
	}
	
.sub-navigation .cssmenu .menu-button.active::before{
	
	content: "\f106";
	}	
	
	
	
.sub-navigation .cssmenu .menu-button::after{
	border:none;
	
	}
	
	
	 .cssmenu {
   
  }
  .cssmenu > ul {
    display: none;
  }
  .cssmenu > ul.open {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
 
  
  
 
  
  .cssmenu .menu-button {
    display: block;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    padding: 18px;
    text-transform: uppercase;
   
    
    cursor: pointer;
	
	margin-top:0px;
  }
  .cssmenu ul ul,
  .cssmenu ul li:hover > ul,
  .cssmenu > ul > li > ul,
  .cssmenu ul ul ul,
  .cssmenu ul ul li:hover > ul,
  .cssmenu.align-right ul ul,
  .cssmenu.align-right ul li:hover > ul,
  .cssmenu.align-right > ul > li > ul,
  .cssmenu.align-right ul ul ul,
  .cssmenu.align-right ul ul li:hover > ul {
    left: 0;
    right: auto;
    top: auto;
    opacity: 1;
    width: 100%;
    padding: 0;
    position: relative;
    text-align: left;
  }
  .cssmenu ul ul li {
    width: 100%;
  }
  .cssmenu ul ul li a {
    width: 100%;
    box-shadow: none;
    padding-left: 35px;
  }
  .cssmenu ul ul ul li a {
    padding-left: 45px;
  }
  
  
  
  
  
  
  .cssmenu ul ul li:first-child > a,
  .cssmenu ul ul li:last-child > a {
    border-radius: 0;
  }
  
  
  
  
  
  .cssmenu .menu-button::after {
    display: block;
    content: '';
    position: absolute;
    height: 10px;
    width: 30px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    right: 18px;
    top: 14px;
  }
  .cssmenu .menu-button::before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    border-top: 3px solid #fff;
    right: 18px;
    top: 28px;
  }
  .cssmenu > ul > li.has-sub > a::after,
  .cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
	
	}